* {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.button {
  color: white;
  background-color: purple;
  padding: 5px;
  margin: 5px;
  align-items: center;
}

.scores {
  display: flex;
  align-items: flex-start;
}

#time {
  display: flex;
  align-items: flex-end;
}
